.idea
__pycache__
/db.sqlite3
*.pyc
.DS_Store
*.swp
venv/

.python-version
/config/settings/local.py
/django.log
/latest.dump
/.vagrant/
node_modules/

db.sqlite3

/media/
/frontend/build/
project.tar
