Django==4.1
wagtail==4.1.4
python-webpack-boilerplate==1.0.0
psycopg2-binary==2.9.4
django-extensions==3.2.1
wagtail-markdown==0.10.0
python-markdown-math==0.8
wagtail-django-recaptcha==1.0
django-recaptcha==3.0.0
django-crispy-forms==1.14.0
crispy-tailwind==0.5.0
wagtailmenus==3.1.3
wagtail-metadata==4.0.2

# comments
django-contrib-comments==2.2.0
emoji==2.1.0

gunicorn==20.1.0
