Django>=3.1,<3.2
wagtail>=2.11,<2.12
psycopg2-binary
django-extensions==3.1.0

wagtail-markdown==0.6
Pygments
wagtail-django-recaptcha==1.0
django-crispy-forms==1.11.0
wagtailmenus==3.0.2
wagtail-metadata==3.3.1

django-contrib-comments==1.9.2
emoji==0.6.0

gunicorn