{% load static wagtailcore_tags wagtailimages_tags blogapp_tags wagtailroutablepage_tags %}

<div class="col-md-4">

    <div class="profile-sidebar">
        <!-- SIDEBAR USERPIC -->
        <div class="profile-userpic">
            <img src="https://blog.michaelyin.info/upload/images/4366781.original.jpg" class="mx-auto d-block" alt="">
        </div>
        <div class="profile-usertitle">
            <div class="profile-usertitle-name">
                Michael Yin
            </div>
            <div class="profile-usertitle-job">
                Full Stack Developer
            </div>
        </div>
    </div>

    <!-- Search Widget -->
    <div class="card my-4">
      <h5 class="card-header">Search</h5>
      <div class="card-body">
        <form role="search" method="get" class="form-search" action="{% routablepageurl blog_page "post_search" %}" method="get">

        <div class="input-group">
          <input type="text" class="form-control search-query" name="q" placeholder="Search&hellip;" title="Search for:" />
          <span class="input-group-btn">
            <button class="btn btn-secondary" type="button">Go!</button>
          </span>
        </div>

        </form>
      </div>
    </div>

    {% categories_list %}

    {% tags_list %}

</div>
