{% extends "blog/base.html" %}
{% load static wagtailcore_tags wagtailimages_tags blogapp_tags el_pagination_tags wagtailmd %}

{% block content %}


    {% if search_term %}
        <header class="page-header">
            <h1 class="page-title">Search Results for <span>{{ search_type }}: {{ search_term }}</span></h1>
        </header>
    {% endif %}


    {% paginate 5 posts %}

    {% for post in posts %}

        {% if post.header_image %}
            {% image post.header_image original as header_image %}
            <a href="{% post_date_url post blog_page %}">
              <img src="{{ header_image.url }}" class="img-responsive" ></img>
            </a>
        {% endif %}

        <h2>
            <a href="{% post_date_url post blog_page %}">{{ post.title }}</a>
        </h2>

        <p>
            {% if post.excerpt %}
                {{ post.excerpt|markdown|safe }}
            {% else %}
                {{ post.body|markdown|safe|truncatewords_html:70 }}
            {% endif %}
            <hr>
        </p>

        <a class="btn btn-primary" href="{% post_date_url post blog_page %}">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>

        <hr>

    {% endfor %}

    <ul class="pagination">
        {% show_pages %}
    </ul>

{% endblock %}
