{% extends "blog/base.html" %}
{% load static wagtailcore_tags wagtailimages_tags blogapp_tags %}

{% block content %}
    {% if post.header_image %}
        {% image post.header_image original as header_image %}
        <img src="{{ header_image.url }}" class="img-responsive" ></img>
        <hr>
    {% endif %}
    <h1>{{ post.title }}</h1>
    <p>
        <span class="glyphicon glyphicon-time"></span> {{post.date}} &nbsp;
        <span class="glyphicon glyphicon-user"></span> {{post.owner}} &nbsp;
        {% post_categories %}

    </p>
    <hr>
    {{ post.body|richtext|truncatewords_html:40 }}
    <hr>
    {% post_tags_list %}

{% endblock %}
