{% load comments crispy_forms_tags %}

<form
  action="{% comment_form_target %}?next={{ form.target_object.url }}"
  method="post"
  data-object-pk="{{ form.get_object_pk }}"
  data-content-type="{{ form.get_content_type }}"
  data-mention-url="{% url 'comments-mention-query' %}"
  class="comments-form"
  data-controller="comment"
>
  {% csrf_token %}

  {{ form|crispy }}

  <input type="hidden" name="next" value="{{ form.target_object.url }}" />

  <button type="submit" class="btn-blue">Submit</button>

</form>
