{% load wagtailcore_tags wagtailimages_tags %}
<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
  <!-- Grid -->
  <div class="md:grid md:grid-cols-2 md:items-center md:gap-12 xl:gap-32 mx-auto">
    {% if block.value.reverse %}
    <div>    
      {% image block.value.image width-800 as img %}
      <img class="rounded-xl" alt="" src="{{ img.url }}">
    </div>
    
    <!-- End Col -->
    <div class="mt-5 sm:mt-10 lg:mt-0">
      <div class="space-y-6 sm:space-y-8">
        <!-- Title -->
        <div class="space-y-2 md:space-y-4">
          <h2 class="font-bold text-3xl lg:text-4xl text-gray-800 dark:text-gray-200">
            {{ block.value.title|richtext }}
          </h2>
          <p class="text-gray-500">
            {{ block.value.text|richtext }}
          </p>
        </div>
        <!-- End Title -->
      </div>
    </div>
    {% else %}
    <!-- End Col -->
    <div class="mt-5 sm:mt-10 lg:mt-0">
      <div class="space-y-6 sm:space-y-8">
        <!-- Title -->
        <div class="space-y-2 md:space-y-4">
          <h2 class="font-bold text-3xl lg:text-4xl text-gray-800 dark:text-gray-200">
            {{ block.value.title|richtext }}
          </h2>
          <p class="text-gray-500">
            {{ block.value.text|richtext }}
          </p>
        </div>
        <!-- End Title -->
      </div>
    </div>
    <div>    
      {% image block.value.image width-800 as img %}
      <img class="rounded-xl" alt="" src="{{ img.url }}">
    </div>
    {% endif %}

    <!-- End Col -->
  </div>
  <!-- End Grid -->
</div>
<!-- End Features -->